<%= form_for(transaction, url: comptes_transactions_path(format: :json), remote: true) do |form| %>
  <ul id="transaction-errors"></ul>

  <p>
    <%= form.label :titre %> <%= form.text_field :titre %>
  </p>
  <p>
    <%= form.label :somme %> <%= form.text_field :somme %>
  </p>
  <p>
    <%= select_date Date.today, prefix: :operation_date %>
  </p>
  <p>
    <%
    collection_options = {}
    collection_options[:selected] = compte_selectionne.id if compte_selectionne
    %>
    <%= form.collection_select(:compte_id, Comptes::Compte.all, :id, :nom, collection_options) %>
  </p>
  <%= form.submit "Ajouter l'opération", class: "btn btn-primary" %>
<% end %>