<%= form_for transaction, remote: remote, html: { class: "form-horizontal", role: "form" } do |form| %>
  <div id="transaction-errors"></div>

  <div class="form-group">
    <%= form.label :titre, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :titre, class: "form-control", placeholder: "Titre de la transaction", required: "" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :somme, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.number_field :somme, value: (transaction.id ? transaction.somme_formattee(false) : ''), class: "form-control", step: 0.01, placeholder: "Montant de la transaction", required: "" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :compte_id, "Compte", class: "col-md-3 control-label" %>
    <%
    collection_options = {}
    collection_options[:selected] = compte_selectionne.id if compte_selectionne
    %>
    <div class="col-md-9">
      <%= form.collection_select(:compte_id, Comptes::Compte.all, :id, :nom, collection_options, class: "form-control", required: "") %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :jour, "Date", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.date_field :jour, value: Date.today,  placeholder: "jj/mm/aaaa", required: "" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :type_paiement, "Type de transaction", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.collection_select(:type_paiement, Comptes::Transaction::TypePaiement, :value, :name, {}, class: "form-control", required: "") %>
    </div>
  </div>

  <%= form.submit "Ajouter l'opération", class: "btn btn-primary" %>
<% end %>
