<%= form_for @transaction.becomes(Comptes::Transaction), remote: remote, html: { id: "transaction-form", class: "form-horizontal", role: "form" } do |form| %>
  <%= render "shared/form_errors", model: @transaction %>

  <div class="form-group">
    <%= form.label :titre, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :titre, class: "form-control", placeholder: "Titre de la transaction", required: "" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :somme, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <div class="input-group">
        <% somme = if @transaction.somme
              Comptes::ComptesHelper::decode_amount @transaction.somme
            elsif params[:comptes_transaction] && params[:comptes_transaction][:somme]
              params[:comptes_transaction][:somme]
            else
              0
            end
        %>
        <span class="input-group-addon" id="sign-box">
          <%= form.check_box :negative, checked: (somme <= 0) %>
          <%= form.label :negative, (somme <= 0 ? "-" : '+') %>
        </span>
        <%= form.number_field :somme, value: somme.abs, class: "form-control", min: 0, step: 0.01, placeholder: "Montant de la transaction", required: "" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :compte_id, "Compte", class: "col-md-3 control-label" %>
    <%
    compte_options = {}
    compte_options[:selected] = @transaction.compte.id if @transaction.compte
    %>
    <div class="col-md-9">
      <%= form.collection_select(:compte_id, @comptes, :id, :nom, compte_options, class: "form-control", required: "") %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :jour, "Date", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.date_field :jour, value: Date.today,  placeholder: "jj/mm/aaaa", required: "" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :type, "Type de transaction", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%
      type_options = {}
      type_options[:selected] = Comptes::TransactionsController::Types.from_class(@transaction).value if @transaction.class.type_name
      %>
      <%= form.collection_select(:type, @types, :value, :name, type_options, class: "form-control", required: "", readonly: !@transaction.new_record?) %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :categories, "Catégories", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%
      categories_options = {}
      categories_options[:selected] = @transaction.categories.collect { |categorie| categorie.id }
      %>
      <%= form.collection_select(:categories, @categories, :id, :nom, categories_options, class: "form-control", multiple: true) %>
    </div>
  </div>

  <div class="col-md-offset-3 col-md-9">
    <%= form.submit "#{@transaction.new_record? ? "Ajouter" : "Éditer"} l'opération", class: "btn btn-primary" %>
  </div>
<% end %>
