<% if @transaction %>

<h1><%= @transaction.titre %></h1>

<p class="lead">
  Montant : <span class="label label-info"><%= @transaction.somme_formattee %></span>
</p>

<p>
  Date : <%= @transaction.jour_formatte %><br/>
  Type de paiement : <%= @transaction.type_name %><br/>
  Compte : <%= @transaction.compte.nom %>
</p>

<p>
  Catégories: <%= @transaction.categories.collect{ |categorie| categorie.nom }.join ', ' %>
</p>

<p>
  <%= link_to "Éditer", edit_comptes_transaction_path(@transaction) %>
</p>

<% else %>

<p class="alert alert-danger">
  La transaction <%= params[:id] %> n'existe pas.
</p>

<% end %>