    <tr>
      <td><%= transaction_monnaie.jour %></td>
      <td><%= transaction_monnaie.titre %></td>
      <td><%= transaction_monnaie.somme_formattee %></td>
      <td><%= transaction_monnaie.compte.nom %></td>
      <td><%= transaction_monnaie.class.type_name %></td>
      <td>
        <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'), comptes_transaction_path(transaction_monnaie), class: "btn btn-info" %>
        <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_comptes_transaction_path(transaction_monnaie), class: "btn btn-info" %>
        <%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), comptes_transaction_path(transaction_monnaie), method: :delete, data: { confirm: "Sûr de vouloir supprimer la transaction ?" }, class: "btn btn-danger" %>
      </td>
    </tr>