    <tr class="transaction monnaie" id="transaction-<%= transaction_monnaie.id %>">
      <td><%= transaction_monnaie.jour %></td>
      <td><%= transaction_monnaie.titre %></td>
      <td>
        <span class="badge alert-<%= transaction_monnaie.somme >= 0 ? "success" : "danger" %>">
          <%= transaction_monnaie.somme_formattee %>
        </span>
      </td>
      <td><%= transaction_monnaie.compte.nom %></td>
      <td><%= transaction_monnaie.class.type_name %></td>
      <td>
        <%= link_to raw('<i class="glyphicon glyphicon-eye-open"></i>'), comptes_transaction_path(transaction_monnaie), class: "btn btn-info" %>
        <%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_comptes_transaction_path(transaction_monnaie), class: "btn btn-info" %>
        <%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), comptes_transaction_path(transaction_monnaie), method: :delete, remote: true, data: { confirm: "Sûr de vouloir supprimer la transaction ?" }, class: "btn btn-danger" %>
      </td>
    </tr>