<h1>Home#welcome</h1>

<h2>Gestion des comptes</h2>
<p>
  <%= link_to "Accès aux comptes", comptes_path %><br/>
  <%= link_to 'Création de comptes', new_comptes_compte_path %>
</p>

<h2>Gestion des transactions</h2>
<p>
  <%= link_to "Liste des dernières transactions", comptes_transactions_path %><br/>
  <%= link_to "Enregistrer de nouvelles transactions", ajouter_comptes_transactions_path %>
</p>

<h2>Gestion des catégories</h2>
<p>
  <%= link_to "Liste des catégories", comptes_categories_path %><br/>
  <%= link_to "Enregistrer de nouvelles catégories", new_comptes_category_path %>
</p>

<h2>Date markers</h2>
<p>
  <%= link_to "Espace de marqueurs de dates", date_marker_events_path %>
</p>
