<%= form_for @compte, html: {class: "form-horizontal"} do |form| %>
  <%= render "shared/form_errors", model: @compte %>

  <div class="form-group">
    <%= form.label :nom, class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <%= form.text_field :nom, class: "form-control", required: "", placeholder: "Nom du compte" %>
    </div>
  </div>
  <div class="form-group">
    <%= form.label :solde_historique, "Solde courant", class: "col-md-3 control-label" %>
    <div class="col-md-9">
      <% if @compte.id %>
        <!-- compte existant -->
        <%= form.number_field :solde_historique, value: @compte.solde, class: "form-control", step: 0.01, required: "", placeholder: "Montant actuel", readonly: true %>
      <% else %>
        <%= form.number_field :solde_historique, class: "form-control", step: 0.01, required: "", placeholder: "Montant actuel" %>
      <% end %>
    </div>
  </div>

  <div class="col-md-9 col-md-offset-3">
    <%= form.submit "#{@compte.id ? "Éditer" : "Créer"} le compte", class: 'btn btn-primary' %>
  </div>
<% end %>