<% if @compte %>

<% content_for :title do %>
	Compte : <%= @compte.nom %> <small><%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_comptes_compte_path(@compte) %></small>
<% end %>

<p class="lead">
  Solde : <span class="label label-info"><%= @compte.solde_formatte %></span>
</p>

<h2>Les dernières transactions</h2>
<%= render partial: 'comptes/transactions/transactions', object: @transactions %>

<% else %>
<p class="alert alert-danger">
  Ce compte (<%= params[:id] %>) n'existe pas.
</p>
<% end %>
