<% provide :title, "Évolution de la situation" %>

<!-- Mois en cours -->
<div>
	Compte <b><%= @compte.nom %></b> : <%= Comptes::ComptesHelper.format_amount @compte.solde %>
</div>

<!-- Depuis le début de l'année -->
<table id="evolution-table" class="table table-responsive">
	<thead>
		<tr>
			<th>Mois</th>
			<th>Solde en fin de mois</th>
			<th>Total</th>
			<th>Crédit</th>
			<th>Débit</th>
		</tr>
	</thead>
	<tbody>
		<% @previous_months.each do |month| %>
		<tr class="previous-month">
			<td><%= month[:date].strftime("%B %Y") %></td>
			<td><%= Comptes::ComptesHelper.format_amount month[:solde] %></td>
			<td><%= HtmlHelper::Bootstrap::value_badge(month[:expense], Comptes::ComptesHelper.format_amount(month[:expense])) %></td>
			<td><%= Comptes::ComptesHelper.format_amount month[:credit] %></td>
			<td><%= Comptes::ComptesHelper.format_amount month[:debit] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<!-- Années précédentes -->