<%= form_for @event, class: 'form' do |form| %>
  <% if @event.errors.any? %>
  <ul id='event-errors'>
    <% @event.errors.full_messages.each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <div class='form-group'>
    <%= form.label :title %> <%= form.text_field :title, required: true, placeholder: "Nom de l'événement" %>
  </div>

  <div class='form-group'>
    <%= form.label :day %> <%= form.date_field :day, required: true, placeholder: "aaaa-mm-jj" %>
  </div>

  <div class='form-group'>
    <%= form.submit "Créer", class: 'btn btn-primary' %>
  </div>
<% end %>