<% if @event %>

<h1><%= @event.title %> : <%= @event.day.strftime("%m/%d/%Y") %></h1>

<p>
    Nombre de mois depuis l'événement : <strong class='label label-info'><%= pluralize(@event.number_of_days , "jour") %></strong>
</p>

<p>
    Nombre de mois depuis l'événement : <strong class='label label-info'><%= pluralize(@event.number_of_months , "mois") %></strong>
</p>

<p>
  <%= link_to raw('Éditer <i class="glyphicon glyphicon-pencil"></i>'), edit_date_marker_event_path(@event) %>
</p>

<% else %>

<p>
  Aucun événement existant pour l'id <%= params[:id] %>
</p>

<% end %>

<p>
  <%= link_to "Retour à la liste", date_marker_events_path %>
</p>