<!DOCTYPE html>
<html>
<head>
  <title><%= ApplicationHelper::page_title yield :page_title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-md-3 col-xd-12">
      <%= render "layouts/menu" %>
    </div>
    <div class="col-md-9 col-xd-12">
      <h1 id="title"><%= yield :title %></h1>

      <%= render 'layouts/flashs' %>

      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
