<h1>Liste des catégories</h1>

<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Nom</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comptes_categories.each do |comptes_category| %>
      <tr>
        <td><%= comptes_category.nom %></td>
        <td>
          <%= link_to ApplicationHelper::glyphicon("eye-open", btn: :primary), comptes_category %>
          <%= link_to ApplicationHelper::glyphicon("pencil", btn: :primary), edit_comptes_category_path(comptes_category) %>
          <%= link_to ApplicationHelper::glyphicon("trash", btn: :danger), comptes_category, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ajouter une catégorie', new_comptes_category_path %>
